<h1> Teams </h1>



<div class="container">
	<% @teams.each do |team| %>
		<a href='<%= "teams/#{ team.id }" %>'>
			<div class="col-md-3 col team">
			 	<p>
			 		<%= team.name %>
			 	</p>
			</div>
		</a>
	<% end %>
</div>



