<h1>Recent Games Uploaded</h1>

<table class="table table-striped">
	<tr>
	<th>GAME</th>
	<th>MAP</th>
	</tr>
	<tr>
<% @games.each do |game| %>		
	<td><%= game.game_title %><br>
	<%= game.red_team %> Vs <%= game.blue_team %></td>
	<td><%= game.map %></td>
	</tr>
<%end%>
</table>


